<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="css/global.css">
    <link rel="icon" href="img/favicon.png" type="image/png" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script type="module" src="src/page-chat.js"></script>
</head>

<body id="communication-rebel">
    <!-- Tout le code html doit faire partie de ce div -->
    <div id="app">
        <a href="javascript:void(0)" id="sign-out-btn" @click="signout" class="deconnecter">Déconnexion</a>
        <div class="messageBox">
            <div :class="[message.Privacy == false ? 'blue' : 'red']" v-for="message in messages"><span>{{ message.Utilisateur }} : </span><span>{{ message.Message }}</span></div>
        </div>
        <textarea cols="100" rows="6" v-on:keyup.enter="sendMessage($event)" ref="el" class="textchat"></textarea>

        <div id="memberOnline"><sup>Rebels en ligne</sup>
            <div class="memberlist" v-for="members in membersConnect">{{members}}</div>
        </div>
        <div id=RebelOnline>
            <div class="crew">
                <div v-for="rebel in connection" class="ship"></div>
            </div>
        </div>
    </div>
</body>

</html>