            * {
                margin: 0;
                padding: 0;
            }
            
            html {
                font-family: 'Ubuntu';
                font-weight: bolder;
            }
            
            body {
                cursor: url('../img/saber.png'), auto;
            }
            
            #starwars {
                background-image: url('../img/star-wars-backgrounds.jpg');
                background-position: center;
            }
            
            #titre {
                background-image: url('../img/logostatrwars.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                height: 200px;
            }
            
            #signIn {
                width: 205px;
                height: auto;
                background-color: blue;
                padding: 10px;
                border: double white 1px;
                border-radius: 12px;
                left: 42%;
                position: absolute;
            }
            
            .generic {
                position: fixed;
                color: yellow;
                text-align: center;
                width: 55%
            }
            
            input.entree {
                max-width: 180px;
            }
            
            a {
                color: rgb(109, 16, 16);
            }
            
            #appuyez {
                color: yellow;
                text-align: center;
                font-size: 64px;
            }
            
            .entree {
                font-family: 'Ubuntu';
                font-weight: bold;
                display: flex;
                flex-direction: column;
                margin: 10px;
                justify-content: center;
                align-items: center;
            }
            
            button {
                background-color: red;
                padding-right: 21px;
                padding-left: 21px;
            }
            /*canvas*/
            
            #canvas {
                position: absolute;
                border-radius: 12px;
            }
            
            #rebellion {
                background-image: url('../img/wallpaperflare.com_wallpaper.jpg');
                background-size: cover;
            }
            /*chat*/
            
            .deconnecter {
                margin: 20px;
                border-radius: 12px;
                background-color: grey;
                height: 25px;
                width: 170px;
                text-align: center;
                border: double 1px rgb(109, 16, 16);
            }
            
            .deconnecter:hover {
                margin: 20px;
                border-radius: 12px;
                background-color: rgb(109, 16, 16);
                height: 25px;
                width: 170px;
                text-align: center;
                border: double 1px grey;
            }
            
            #communication-rebel {
                background-image: url('../img/rebellogo.jpg');
                background-repeat: no-repeat;
            }
            
            .textchat {
                background-color: grey;
                width: 50%;
                border: 1px double rgb(109, 16, 16);
                border-radius: 12px;
                margin: 20px;
                padding: 10px;
            }
            
            #memberOnline {
                display: block;
                background-color: rgb(109, 16, 16);
                width: 25%;
                border: 1px double grey;
                border-radius: 12px;
                margin-left: 70%;
                padding: 10px;
            }
            
            .memberlist {
                color: white;
            }
            
            .messageBox {
                height: 400px;
                width: 50%;
                background-image: url('../img/star-wars-backgrounds.jpg');
                border: 1px double rgb(109, 16, 16);
                border-radius: 12px;
                margin: 20px;
                padding: 10px;
                overflow: auto;
            }
            
            #RebelOnline {
                position: absolute;
                background-image: url('../img/star-wars-backgrounds.jpg');
                border: 1px double rgb(109, 16, 16);
                border-radius: 12px;
                top: 100px;
                margin-left: 70%;
                padding-bottom: 20px;
                width: 500px;
                height: 500px;
                display: flex;
            }
            
            .crew {
                position: absolute;
                display: flex;
                flex-wrap: wrap;
            }
            
            .ship {
                position: relative;
                padding: 20px;
                margin: 20px;
                width: 85px;
                height: 55px;
                background-image: url('../img/xwing.png');
                background-size: cover;
            }
            
            .blue {
                color: grey;
            }
            
            .red {
                text-align: right;
                color: rgb(109, 16, 16)
            }